{% extends "base.html" %}

{% block Inner %}

<!-- Page Inner -->
<div class="page-inner no-page-title">
    <div id="main-wrapper">
        <div class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style-1">
                    <li class="breadcrumb-item">区域</li>
                    <li class="breadcrumb-item active" aria-current="page">地区</li>
                </ol>
            </nav>
            <h1 class="page-title">地区</h1>
        </div>
        <h5 class="page-desc"></h5>
        <div class="divider"></div>
        <div class="row">
            <div class="col-lg">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">房屋结构</h5>
                        <div id="district1" style="height: 350px"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">XXXX</h5>
                        <div id="district2" style="height: 350px"></div>
                    </div>
                </div>
            </div>
        </div>

    </div><!-- Main Wrapper -->

</div><!-- /Page Inner -->

{% endblock %}